<% d = Dataset.cas_extras.dataset_with_available_levels.first %>
<% levels = d.last %>
<% binding.pry %>
<tr>
  <td>
  <%= form.collection_check_boxes(:level, Lookups::AccessLevel.all, :id, :value) do |b| %>
    <div class="checkbox">
      <%= b.label { b.check_box + b.text } %>
    </div>
  <% end %>
  </td>
</tr>