<fieldset>
  <%= content_tag :p, t('.extra_datasets_note') %>
  <%= form.label :extra_datasets %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Dataset</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
      </tr>
    </thead>
    <tbody>
      <!-- TODO: scope Users with read only role and not other roles-->
      <% Dataset.cas_extras.dataset_with_available_levels.each do |ad| %>
        <% dataset = ad.first %>
        <% levels = ad.last %>
        <tr>
          <td><%= dataset %></td>
          <% levels.each do |level| %>
            <td>
              <% if level.nil? %>
              "N/A"
              <% else %>
               <%= form.check_box :level %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
